.loginContainer {
  width: 450px;
  margin: 75px auto;
  text-align: center;

  .loginContainer--upper {
    border: 1px solid #cacaca;
    margin-bottom: 25px;

    .error {
      display: block;
      background-color: rgb(252, 180, 180);
      border: 1px solid red;
      color: #777;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .login-heading {
      // font-family: 'Oleo Script', cursive;
      font-family: 'Caveat', cursive;
      font-size: xx-large;
      font-weight: bolder;
      padding: 25px;
    }

    .loginContainer--options {
      cursor: pointer;

      &:hover {
        color: skyblue;
      }
    }
  }
  .loginContainer--lower {
    border: 1px solid #cacaca;
    padding: 15px;

    p {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 450px) {
  .loginContainer {
    width: 90vw;

    .loginContainer--upper {
      .login-heading {
        // font-family: 'Oleo Script', cursive;
        font-family: 'Caveat', cursive;
        font-size: x-large;
        font-weight: bold;
        padding: 20px;
      }
    }
  }
}
