.postsContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0;

  .postsContainer--card {
    width: 293px;
    height: 293px;
    margin: 10px;
    padding: 0;
  }

  .noPosts {
    width: 70vw;
    margin: 25px auto;
    padding-top: 25%;
    text-align: center;
    height: 30vh;
  }
}

@media only screen and (max-width: 975px) {
  .postsContainer {
    margin: auto;

    .postsContainer--card {
      width: 30vw;
      height: 30vw;
      margin: 10px auto;
    }

    .noPosts {
      width: 100vw;
    }
  }
}

@media only screen and (max-width: 640px) {
  .postsContainer {
    .postsContainer--card {
      width: 32vw;
      height: 32vw;
      margin: 2px auto;
    }
  }
}
