.singlePostPageContainer {
  width: 900px;
  border: 1px solid rgb(51, 51, 51);
  margin: 50px auto;
  min-height: 500px;
  display: flex;

  .singlePostPageContainer--left {
    width: 565px;
    margin: auto;
  }

  .singlePostPageContainer--right {
    width: 335px;

    .singlePostPageContainer--comments {
      height: 90%;
      min-height: 433px;
      border: 1px solid blue;
    }
  }
}

@media only screen and (max-width: 930px) {
  .singlePostPageContainer {
    width: 90vw;
  }
  .singlePostPageContainer--left {
    width: 60vw;
  }
  .singlePostPageContainer--right {
    width: 435px !important;

    .singlePostPageContainer--comments {
      height: 75%;
      border: 1px solid blue;
    }
  }
}
