.profilePageContainer {
  width: 945px;
  margin: auto;
  margin-top: 87px;

  .profilePageContainer--upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .profilePageContainer--upper-right {
      width: 70%;
      margin-left: 25px;
      margin-right: 25px;
      min-width: 100px;
    }
  }
}

@media only screen and (max-width: 975px) {
  .profilePageContainer {
    width: 100vw;
    max-width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .profilePageContainer {
    margin-top: 57px;

    .profilePageContainer--upper {
      margin-bottom: 20px;

      .profilePageContainer--upper-right {
        width: 90vw;
      }
    }
  }
}
