.profilePageContainer {
  width: 945px;
  margin: auto;
  margin-top: 87px;

  .profilePageContainer--upper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;

    .user-profile-info {
      .user-profile-info--section {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .profilePageContainer--upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .user-profile-info {
      .user-profile-info--section {
        display: flex;
        justify-content: space-evenly;
        font-size: 10px;
      }
    }
  }
}
