.messageContainer {
  border: 1px solid #777;
  word-wrap: break-word;
  border-radius: 25px;
  display: inline-block;
  padding: 5px 15px 10px;
  margin: 7px;
  max-width: 50%;
  cursor: default;
  position: relative;

  .messageContainer-like {
    position: absolute;
    right: 15px;
    bottom: -15px;
    border-radius: 50%;
    padding: 0 5px;
    background-color: white;
    cursor: pointer;
  }
}

.message-ellipsis {
  margin: 5px;
  padding: 2px;
}

@media only screen and (max-width: 420px) {
  .messageContainer {
    max-width: 70%;
  }
}
