.messageContainer {
  border: 1px solid #777;
  word-wrap: break-word;
  border-radius: 25px;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  max-width: 50%;
}

.message-ellipsis {
  margin: 5px;
  padding: 2px;
}

@media only screen and (max-width: 420px) {
  .messageContainer {
    max-width: 70%;
  }
}
