.headerBrand {
  font-family: 'Oleo Script', cursive;
  font-size: larger;
}

.headerContainer--search {
  position: relative;
}

.headerContainer--avatar {
  width: 35px;
  height: 35px;
  border: 1px solid gray;
  border-radius: 50%;
}
