.suggestedContainer {
  position: sticky;
  margin-top: 60px;
  top: 120px;
  height: 420px;

  .suggested--lower {
    width: 325px;
    height: 350px;
    border: 1px solid #d6d6d6;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    .suggested--lower_header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: small;
    }
  }
}
