.profile-dropdown {
  position: absolute;
  width: 200px;
  //   height: 150px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(197, 197, 197);
  background-color: white;
  top: 60px;
  right: 60px;
  z-index: 5;

  .profile-dropdown__div {
    padding: 5px 20px;
    cursor: pointer;

    .profile-dropdown--icon {
      margin-right: 5%;
    }

    &:hover {
      background-color: rgb(228, 228, 228);
    }
  }

  hr {
    color: black;
    margin: 0;
    padding: 0;
  }
}
